@use "../global" as *;

.top-access {
  margin-top: rem(178);
  @include mq(md) {
    margin-top: rem(160);
  }
}

.access {
  padding-bottom: rem(120);
  @include mq(md) {
    padding-bottom: rem(200);
  }
}

.access__inner {
  padding-right: rem(strip-unit($padding-sp));
  padding-left: rem(strip-unit($padding-sp));
  margin-right: auto;
  margin-left: auto;
  margin-top: rem(58);
  @include mq(md) {
    max-width: rem(812);
    margin-top: rem(78);
  }
}