@use 'sass:math';

// インナー幅設定(pxのまま)
$inner: 1520px;

// 余白
$padding-pc: 25px;
$padding-sp: 20px;

// font-family
$base-font-family: 'Noto Sans JP', sans-serif;


body {
  font-family: $base-font-family;
}


// 色指定
$black: #000;
$white: #fff;
$base-color: #707070;
$sub-color: #EBF5FE;
$accent-color: #4C6A84;

body {
  color: $base-color;
}

//ブレイクポイント
$breakpoints: (
  sm: 600,
  md: 768,
  lg: 1024,
  xl: 1440,
);

// メディアクエリ
$mediaquerys: (
  sm: "screen and (min-width: #{map-get($breakpoints,'sm')}px)",
  md: "screen and (min-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (min-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen and (min-width: #{map-get($breakpoints,'xl')}px)",
);

// メディアクエリを "@include mq(){}" で書くことができる
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}